body {
  margin: 0;
  }

/****************   Nav Section **********************/
nav {
	background-color: #fdffab;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;

}

/***********************  Footer Section   **************************/
footer {
	background-color: #fdffab;
  text-align: center;
  padding: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/*********** Splash Page ************************/
header {
  background-color: #ffd3b6;
  text-align: center;
  padding: 50px;
}

header h1 {
  font-family: 'Georgia', serif;
  font-size: 30px;
  color: rgb(6, 5, 5);
}

header img {
  width: 200px;
  border-radius: 20%;
  border: 3px solid black;
}

.address {
 font-style: normal;
 color: black;
}

.tagline {
  font-style: italic;
  color: black;
}

/************* Sections ********************/
hr {
border: 2px solid black;
border-top: 2px solid black;
margin: 0px;
}

section h3 {
  font-family: 'Georgia', serif;
  color: #ffaaa5;
  padding: 5px;
}

section dl {
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  color: black;
  padding: 10px;
}

section ul {
  padding-left: 20px;
  padding: 30px;
}

section a {
  color: #000000;
  text-decoration: none;
}

section a:hover {
  color: #fbacd0;
  text-decoration: underline;
}

/**************   Projects   *****************/
.three-col {
	display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
      flex-direction: column;
      gap: 10px;
      text-align: center;
    }

    .three-col {
      grid-template-columns: 1fr;
      text-align: center;
    }
}

/**************   Contact Page   *****************/
.one-col {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 500px;
  margin: 30px auto;
  gap: 20px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

textarea {
   width: 100%;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
   font-size: 16px;
   box-sizing: border-box;
   min-height: 100px;
   resize: vertical;
}